html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, em, button
 {margin: 0;
  padding: 0;
}
body{
    font: 12px/1.5"Microsoft yahei",arial,Simsun, sans-serif;
    color: #333;
    background-color: #fff;
}
.cl{
    clear: both;

}
ul{
    list-style: none;
}
.mod{
    width: 944px;
    margin: 20px auto;
    overflow: hidden;


}
.mod::after{
    content: "";
    clear: both;
    display: table;

}
.mod .top{
    height: 54px;
    background-color: #444;

}
.mod .mod-content
{
    height: 313px;
    border: 1px solid #e0e0e0;
    border-top-width: 0px;    
}
.mod .left{
    float: left;
    widows: 182px;
    height: 312px;
border-right: 1px #a3a3a3;

}
.mod .right{
   float: left;
   height: 312px;
   width: 182px;
   padding: 12px 17px 13px 15px;
}
.mod .right .select:first-child{
    width: 37px;
    height: 16px;
    background-color: blue;
    border-color: 2px;
    color: #fff;
    font-size: 10px;
    text-align: center;
    line-height: 16px;
}
